/* ------------------------------------------------------------ *\
	Basic Colors
\* ------------------------------------------------------------ */

$color-white : #ffffff;
$color-black : #000000;
$color-success:#1abc9c;
$color-alert : #e74c3c;

/* ------------------------------------------------------------ *\
	Project Variables
\* ------------------------------------------------------------ */



$color-primary: #C0DE01;
$color-secondary: #FFED01;
$color-third: #2ABDFC;
$color-gray-dark : #9e9e9e;
$color-gray  : #E9E9E9;