.navigation {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    border-bottom: 2px solid $wh;
    z-index: 1;

    &__wrap {
        margin-left: auto;
        margin-right: auto;
        height: 80px;
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-transform: uppercase;
            font-size: 18px;
            color: $wh;
            text-decoration: none;
            position: relative;

            &:before {
                content: '';
                bottom: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $wh;
                transition: 0.2s;
                transform: scaleX(0);
              }
             &:hover:before {
                transform: scaleX(1);
              }
        }

        a:last-child {
            background: $wh;
            color: rgb(0, 0, 0);
            width: 200px;
            border-radius: 30px;
            border: 3px solid transparent;
            height: 45px;
            text-align: center;
            padding-top: 8px;
            transition: 0.4s ease;

            &:before {
                display: none;
            }

            &:hover {
                border: 3px solid $wh;
                background: transparent;
                color: $wh;
            }
        }
    }
}