.auth {
    padding-top: 80px;
    height: 100vh;
    position: relative;
    z-index: 2;

    &__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url('images/auth__bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: -1;
        transition: 1s ease;
    }

    &__chapter {
        margin-top: 30px;
        font-size: 65px;
        text-align: center;
    }

    &__form {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 600px;
        height: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        border: 10px solid $wh;

        &-email, &-tel {
            margin-top: 40px;
        }

        &-name, &-email, &-tel {
            width: 470px;
            height: 75px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 38px;
            border: 3px solid transparent;
            outline: none;
            text-align: center;
            transition: 0.3s ease;
            background-color: #f5fafa;
            color: #7c7c7c;
            font-size: 14px;
            font-weight: 700;
            display: block;
            margin-left: auto;
            margin-right: auto;

            &:focus {
                border: 3px solid $wh;
                background: transparent;
            }
        }

        &-submit {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            height: 65px;
            margin-top: 150px;
            border: 4px solid transparent;
            background: $wh;
            border-radius: 30px;
            font-size: 20px;
            font-weight: bold;
            transition: 0.4s;


            &:hover {
                border: 4px solid $wh;
                background: transparent;
                letter-spacing: 2px;
                width: 350px;
            }
        }
    }

}