.home-header {
    padding-top: 80px;
    background: url('images/header__bg.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    text-align: center;
    position: relative;
    overflow:hidden;
    background-attachment: fixed;
    background-position: top center ;
    background-size: cover;
    padding-top: 1px;

    &__chapter1 {
        font-size: 55px;
        margin-top: 300px;
        color: $wh;
        text-align: center;
    }

    &__chapter2 {
        font-size: 85px;
        font-weight: black;
        color: $wh;
        text-align: center;
    }

    span {
        margin-left: auto;
        margin-right: auto;
        font-size: 35px;
        color: $wh;
    }

    &__refs {
        display: flex;
        justify-content: space-between;
        margin-top: 58px;

        &-link {
            transition: 0.4s ease;
        }

        &-link:hover {
                transform: scale(1.2);
                box-shadow: 2px 0px 50px -10px rgba(0,0,0,0.84);
        }

        img {
            width: 30px;
            height: 30px;
        }
    }

    &__mouse {
            width: 28px;
            height: 50px;
            border: 2px solid #ecf0f1;
            margin: 0 auto;
            border-radius: 30px;
            margin-top: 22%;
            cursor: pointer;

            &-wheelchild {
                border: 2px solid #ecf0f1;
                border-radius: 5px;
            }

            &-arrow {
            border-bottom: 2px solid #ecf0f1;
            border-right: 2px solid #ecf0f1;
            transform: rotate(45deg);
            animation: scrollDown;
            animation-duration: 1.7s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            }
                
            &-wheel {
                overflow: hidden;
                margin-top: 5px;    
                
            span {
                display: block;
                margin: 5px auto;
                width: 5px;
                height: 5px;
            }
       
         }
       
    }
}


@keyframes scrollDown {
    0% {
        opacity: 1;
        transform: translateY(0) rotate(45deg);
    }

    50% {
        opacity: 0;
        transform: translateY(5px) rotate(45deg);
   }

  75% {
    opacity: 0;
    transform: translateY(0) rotate(45deg);
  }
    
  100% {
    opacity: 1;
    transform: translateY(0) rotate(45deg);
  }
}
 