.map {
    padding-top: 50px;
    padding-bottom: 20px;

    &__chapter {
        text-align: center;
        font-size: 55px;
        transition: 1.5s ease;

        &:hover {
            letter-spacing: 1px;
        }
    }

    &__wrap {
        margin-top: 50px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
    }

    &__save, &__show {
        background: #000;
        color: white;
        border-radius: 25px;
        width: 120px;
        height: 30px;
        outline: none;
        border: none;
        transition: 0.4s ease;

        &:hover {
            width: 140px;
        }
    }
}